{% extends "base.html" %}
{% block title %}Shape detection{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row my-3">
            <div class="col-md">
                <img src="{{ url_for('video_feed') }}" id="videofeed" width="100%">
                <button class="btn btn-primary mt-3" id="start_detection">Start Detection</button>
            </div>
            <div class="col-md" id="right">
                <button class="btn btn-primary float-md-right mt-3" id="close_result">Close</button>
            </div>
        </div>
        
    </div>
{% endblock %}

{% block ajaxScriptLink %}
<script type="text/javascript">
    $(function () {
        $("#close_result").hide();

        $('#start_detection').bind('click', function () {
            $.ajax({
                url: "/get_json",
                type: "POST",
                success: function(resp){
                    $("#from_response").remove();
                    $("#right").prepend(resp.data);
                    $("#close_result").show();
                }
            });
        });

        $("#close_result").click(function () {
            $("#from_response").remove();
            $("#close_result").hide();
        });
    });
</script>
{% endblock %}