{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="showcase">
    <div class="container h-100 w-50">
        <div class="landing align-items-center justify-content-center text-center">
            <h1 class="font-weight-bold m-0">TRAFFIC SIGN<br>SHAPE DETECTOR</h1>
            <hr class="divider m-2"/>
            <p>
                Traffic sign shape detector is a web app where you can get the information of the different categorised traffic sign. It
                detects the traffic sign based on its shape.
            </p>
            <a class="btn btn-xl btn-primary" href="/detection">Start Detection</a> <br>
            <img src="static/media/img.png" class="mt-4" height="200px" alt="">
        </div>
    </div>
</div>
{% endblock %}