<div class="row" id="from_response">
    <div class="col-sm-8">
        <div class="row py-2">
            <div class="col-sm">
                <img src="static/media/trafficsign.png" width="100%">
                <p class="sign-name text-center">trafficsign 1</p>
            </div>
            <div class="col-sm">
                <img src="static/media/trafficsign.png" width="100%">
                <p class="sign-name text-center">trafficsign 1</p>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-sm">
                <img src="static/media/trafficsign.png" width="100%">
                <p class="sign-name text-center">trafficsign 1</p>
            </div>
            <div class="col-sm">
                <img src="static/media/trafficsign.png" width="100%">
                <p class="sign-name text-center">trafficsign 1</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 px-3">
        <div class="card p-2 h-100">
            <h3 class="text-center">Description</h3>
            <p id="text">
                {{ data }}
            </p>
        </div>
    </div>
</div>